#header_top {
    text-align: center;
    color: yellow;
}
body {
    background-image: url("Images/setting/asteroid_field.PNG");
    background-attachment: fixed;
    background-size: 100% 100%;
}

#uss_blinky {
    position: fixed;
}

#uss_blinky_health {
    color: white;
    margin-left: 50px;
}

#enemy_ship {
    position: fixed;
    right: 100px;
}

#enemy_ship_health {
    color: white;
    margin-right: 100px;
}

#enemy_ship_dead {
    visibility: hidden;
}